<body>
<div class="container">
  <button (click)="getMatchData()" class='sort-btn'>Decending Order</button>
  <button  class='sort-btn'>Assending Order</button>
</div>


<table mat-table [dataSource]="dataSource" class="mat-table">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- team01 Column -->
  <ng-container matColumnDef="team01">
    <th mat-header-cell *matHeaderCellDef class='headder'> team01 </th>
    <td mat-cell *matCellDef="let element"> {{element.team01}} </td>
  </ng-container>

  <!-- team02 Column -->
  <ng-container matColumnDef="team02">
    <th mat-header-cell *matHeaderCellDef class='headder'> team02 </th>
    <td mat-cell *matCellDef="let element"> {{element.team02}} </td>
  </ng-container>

  <!-- date Column -->
  <ng-container matColumnDef="matchDate">
    <th mat-header-cell *matHeaderCellDef class='headder'> date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <!-- team01Goals Column -->
  <ng-container matColumnDef="team01Goals">
    <th mat-header-cell *matHeaderCellDef class='headder'> Team02 Goals </th>
    <td mat-cell *matCellDef="let element"> {{element.team01Goals}} </td>
  </ng-container>

  <!-- team02Goals Column -->
  <ng-container matColumnDef="team02Goals">
    <th mat-header-cell *matHeaderCellDef class='headder'> Team01 Goals </th>
    <td mat-cell *matCellDef="let element"> {{element.team02Goals}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>



</body>
